* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    display: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.top {
    background-color: white;
    padding: 2rem;
    min-width: 300px;
    width: 20vw;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.top h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

.top h2 {
    color: hsl(71, 73%, 54%);
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.top span {
    font-size: 0.8rem;
    line-height: 25px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 62%, 43%);
    padding: 2rem;
    min-width: 300px;
    width: 20vw;
    height: 250px;
}

.left h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.left:nth-child(1) span {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    width: 300px;
}

.left span:nth-child(2) {   
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}

.left button {
    border: none;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    color: white;
}

.money {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.money p {
    font-size: 2rem;
    color: white;
}


.right {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 68%, 45%);
    padding: 2rem;
    min-width: 300px;
    height: 250px;
    width: 20vw;
    border-radius: 0 0 10px 10px;
}

.right h2 {
    color: white;
    margin-bottom: 20px;
}

.right span {
    line-height: 25px;
    color: hsla(203, 44%, 93%, 0.828);
    width: 220px;
}




@media (min-width: 601px) {

    section { 
        min-width: 800px;
    }

    .top {
        min-width: 800px;
        height: 200px;
    }

    .bottom {
        flex-direction: row;
    }

    .left {
        width: 400px;
        min-width: 400px;
        border-radius: 0 0 0 10px;
    }

    .right {
        width: 400px;
        min-width: 400px;
        border-radius: 0 0 10px 0;
    }
}
    
}